# [Core]
bin/
obj/
*.user
*.userosscache
*.sln.docstates

# [Visual Studio]
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
*.opendb
*.dbmdl
*.dbproject
*.typepad
*.vshost.exe
*.vshost.exe.config
*.vshost.exe.manifest
*.xml
*.cache
*.log
*.tmp
*.temp
*.bak
*.sav
*.old

# [Project specific]
config.json
build_hw.txt
