# Visual Studio
.vs/
[Bb]in/
[Oo]bj/
*.user
*.userosscache
*.sln.docstates
*.suo
*.opendb
*.dbmdl
*.dbproject
*.typepad
*.vshost.exe
*.vshost.exe.config
*.vshost.exe.manifest

# Build and Publish
publish/
dist/
*.log
*.tmp
*.temp
*.bak
*.sav
*.old
*.cache

# Project Specific
config.json

# Project Specific Assets
ObsidianMonitor_Setup.exe

# Website Project (Hidden from main repo)
ObsidianMonitor-Website/

